<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.travelkitscreen">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListActivity"></activity>
        <activity android:name=".Travel.CitiesActivity"/>
        <activity android:name=".Travel.BookingActivity"/>
        <activity android:name=".Travel.CityTwoActivity"/>
        <activity android:name=".Travel.Flights_search"/>
        <activity android:name=".Travel.FlightsActivity"/>
        <activity android:name=".Travel.HotelActivity"/>
        <activity android:name=".Travel.ListOfHotelsActivity"/>
        <activity android:name=".Travel.NearBYActivity"/>
        <activity android:name=".Travel.PlaceActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6139690895162942~2325145743" />
    </application>

</manifest>